@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
	--primary-color: #fc5228;
	--background-color: #f9f5f0;
	--dark-color: #151515;
}

html {
	font-size: 62.5%;
	font-family: 'Poppins', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* ********************************** */
/*             UTILIDADES             */
/* ********************************** */
.container {
	max-width: 120rem;
	margin: 0 auto;
}

.heading-1 {
	text-align: center;
	font-weight: 500;
	font-size: 3rem;
}

/* ********************************** */
/*               HEADER               */
/* ********************************** */
.container-hero {
	background-color: var(--background-color);
}

.hero {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 0;
}

.customer-support {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.customer-support i {
	font-size: 3.3rem;
}

.content-customer-support {
	display: flex;
	flex-direction: column;
}

.container-logo {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.container-logo i {
	font-size: 3rem;
}

.container-logo h1 a {
	text-decoration: none;
	color: #000;
	font-size: 3rem;
	text-transform: uppercase;
	letter-spacing: -1px;
}

.container-user {
	display: flex;
	gap: 1rem;
	cursor: pointer;
}

.container-user .fa-user {
	font-size: 3rem;
	color: var(--primary-color);
	padding-right: 2.5rem;
	border-right: 1px solid #e2e2e2;
}

.container-user .fa-basket-shopping {
	font-size: 3rem;
	color: var(--primary-color);
	padding-left: 1rem;
}

.content-shopping-cart {
	display: flex;
	flex-direction: column;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* *************        ************* */
/*               NAVBAR               */
/* *************        ************* */
.container-navbar {
	background-color: var(--primary-color);
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;
}

.navbar .fa-bars {
	display: none;
}

.menu {
	display: flex;
	gap: 2rem;
}

.menu li {
	list-style: none;
}

.menu a {
	text-decoration: none;
	font-size: 1.3rem;
	color: var(--dark-color);
	font-weight: 600;
	text-transform: uppercase;
	position: relative;
}

.menu a::after {
	content: '';
	width: 1.5rem;
	height: 1px;
	background-color: #fff;
	position: absolute;
	bottom: -3px;
	left: 50%;
	transform: translate(-50%, 50%);
	opacity: 0;
	transition: all 0.3s ease;
}

.menu a:hover::after {
	opacity: 1;
}

.menu a:hover {
	color: #fff;
}

.search-form {
	position: relative;
	display: flex;
	align-items: center;
	border: 2px solid #fff;
	border-radius: 2rem;
	background-color: #fff;
	height: 4.4rem;
	overflow: hidden;
}

.search-form input {
	outline: none;
	font-family: inherit;
	border: none;
	width: 25rem;
	font-size: 1.4rem;
	padding: 0 2rem;
	color: #777;
	cursor: pointer;
}

.search-form input::-webkit-search-cancel-button {
	appearance: none;
}

.search-form .btn-search {
	border: none;
	background-color: var(--primary-color);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 1rem;
}

.btn-search i {
	font-size: 2rem;
	color: #fff;
}

/* *************        ************* */
/*               BANNER               */
/* *************        ************* */

.banner {
	background-image: linear-gradient(40deg, #000000, #00000020),
		url('./Imagenes/Imagen_Header.jpg');
	height: 60rem;
	background-size: cover;
	background-position: center;
}

.content-banner {
	max-width: 90rem;
	margin: 0 auto;
	padding: 25rem 0;
}

.content-banner p {
	color: var(--primary-color);
	font-size: 1.2rem;
	margin-bottom: 1rem;
	font-weight: 500;
}

.content-banner h2 {
	color: #ffffff;
	font-size: 3.5rem;
	font-weight: 500;
	line-height: 1.2;
}

/* *************        ************* */
/*             CATEGORIAS             */
/* *************        ************* */
:root {
	--rounded-md: 10px; /* Define el radio de las esquinas */
  }
.section-categories{
	display: flex;
	flex-direction: column;
	gap: 100px;
	margin-bottom: 70px;
	margin-top: 30px;

	.header{
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: 1.4rem;

		.btn-all-categories{
			text-decoration: none;
			background-color: var(--primary-color);
			color: black;
			font-weight: 600;
			padding: 15px 25px;
			border-radius: var(--rounded-md);
		}
		@media (max-width: 768px){
			flex-direction: column;
			gap: 15px;

			.btn-all-categories{
				display: none;
			}
		}
	}
	.list-card-categories{
		display: flex;
		gap: 30px;
		align-items: center;

			.card-categori{
				display: flex;
				align-items: center;
				justify-content: flex-end;
				flex-direction: column;
				flex: 1;

				padding-bottom: 50px;
				position: relative;
				height: 200px;
				border-radius: var(--rounded-lg);
				cursor: pointer;
				box-shadow:0 0 10px rgba(0, 0, 0, 0.2) ;

				a{
					text-decoration: none;
					color: #000;
				}

				img{
					width: 100%;
					height: 150px;
					position: absolute;
					top: -60px;
					transition: all .3s ease-in;
				}

				&:hover img{
					top: -80px;
				}
				p{
					font-weight: 700;
					font-size: 18px;
				}
			}	
			.entrance{
				background: radial-gradient(
					circle,
					#bfda7115 0%,
					#dbf11215 100%
				);
			}
			.main-course{
				background: radial-gradient(
					circle,
					#f0161615 0%,
					#f0aa1315 100%
				);
			}
			.garrison{
				background: radial-gradient(
					circle,
					#0e690215 0%,
					#08a34915 100%
				);
			}
			.dessert{
				background: radial-gradient(
					circle,
					#946f0b15 0%,
					#53330915 100%
				);
			}
	}
	@media (max-width: 768px){
		gap: 50px;
		
		.list-card-categories{
			overflow-x:auto;
			scroll-snap-type: x mandatory;
			-webkit-overflow-scrolling: touch;
			scrollbar-width: none;
			-ms-overflow-style: none;
			padding-top: 60px;

			&::-webkit-scrollbar{
				display: none;
			}

			.card-categori{
				flex: 0 0 60%;
				scroll-snap-align: center;
			}
	}
}
}
/****************  **************/
/********  CUCHILLOS	 ********/
/****************  *************/

.card-knifes{
	
}





/****************  **************/
/********  SOBRE NOSOTROS *******/
/****************  **************/
.Owner{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 0;
	height: 800px;
	width: 100%;
}
.cont{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	overflow-x: auto;
	height: 100%;
}
.card{
	position: relative;
	width: 350px;
	height: 500px;
	margin:  20px ;
	flex: 0 0 350px;
	box-sizing: border-box;
}
.card div{
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	backface-visibility: hidden;
	transition: 1s;
	border-radius: var(--rounded-md);
	box-sizing: border-box;

	h1{
		font-size: 18px;
	}
	.profesion{
		font-size: 16px;
		color: #949494;
		padding: 8px;
	}
	img{
		width: 240px;
		padding: 15px 20px;
		border-radius: 50%;
		object-fit: cover;
	}
	p{
		justify-content: center;
		padding: 0 20px;
		font-size: 12px;
		text-align: center;
		line-height: 22px;
	}
}
.card .front{
	background:#346ea315 100%;
	transform: perspective(500px) rotateY(0deg);
}
.card .back{
	background: #848dbe;
	transform: perspective(500px) rotateY(180deg);
}
.card:hover .front{
	transform: perspective(500px) rotateY(180deg);

}.card:hover .back{
	transform: perspective(500px) rotateY(360deg);
}
@media (max-width: 768px){
	.cont {
        overflow-x: auto; /* Añadir para permitir desplazamiento horizontal */
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none; /* Para Firefox */
        padding-top: 60px;
    }
    .cont::-webkit-scrollbar {
        display: none; /* Ocultar el scrollbar en webkit */
    }
    .card {
        scroll-snap-align: center; /* Asegurar que las tarjetas se alineen en el centro */
    
}
}
/****************  **************/
/********    REGISTRO	  *******/
/****************  **************/
.register {
    font-family: Helvetica Neue, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

	.abeas, form {
		padding: 50px;
		margin: 25px;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
		border-radius: 15px;
		background-color: #EEEEEE;
		background-size: cover;
		text-align: center;
		min-width: 350px; /* Asegurar un tamaño mínimo */
		flex: 0 0 350px; /* Asegurar tamaño fijo para cada tarjeta */
	}
	.abeas {
		background-image: url(./Imagenes/Abeas.jpg);
	}
	.abeas p {
		font-size: 20px;
		color: #EEEEEE;
		text-shadow: 2px 2px 4px #270e0e;
	}
	form {
		display: flex;
		flex-direction: column;
	}
	form h2 {
		text-align: center;
		font-size: 30px;
		text-transform: uppercase;
		color: #2E2E2E;
		margin-bottom: 25px;
	}
	form label,
	form p {
		font-size: 17px;
		color: #575757;
		margin-bottom: 10px;
	}
	form input {
		padding: 17px 11px;
		border: 1px solid #00ADEF;
		border-radius: 25px;
		margin-bottom: 25px;
		background-color: #FAFAFC;
		outline: none;
		color: #00ADEF;
		font-size: 16px;
	}
	.btn-1 {
		background-color: #00ADEF;
		font-size: 15px;
		color: #FFFFFF;
		text-transform: uppercase;
		cursor: pointer;
	}
	.btn-1:hover {
		background-color: #0096d6;
	}
	.remember {
		display: flex;
		justify-content: space-between;
		margin-bottom: 25px;
	}
}
.cont_register {
    display: flex;
    flex-wrap: nowrap; /* No permite que las tarjetas se envuelvan */
	justify-content: center;
    width: 100%;
    overflow-x: auto; /* Permitir desplazamiento horizontal */
	
	input{
		padding: 18px 11px;
		border: 1px solid #00ADEF;
		border-radius: 25px;
		margin: 25px;
		background-color: #FAFAFC;
		outline: none;
		color: #00ADEF;
		font-size: 16px;
	}
}

@media (max-width: 768px) {
    .cont_register {
        display: flex;
        flex-direction: row; /* Mantener filas horizontales en el contenedor */
		justify-content: center;
        overflow-x: auto; /* Permitir desplazamiento horizontal */
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
    }
    .cont_register::-webkit-scrollbar {
        display: none; /* Ocultar el scrollbar en webkit */
    }
    .abeas, form {
        width: 100%;
        max-width: 300px;
        flex: 0 0 300px; /* Mantener tamaño fijo en responsive */
        scroll-snap-align: center; /* Asegurar que se alinee en el centro al desplazarse */
    }
}
/**********************************/
/********     FOOTER     **********/
/**********************************/
.footer {
	position: relative;
	width: 100%;
	background:var(--primary-color);
	min-height: 100px;
	padding: 20px 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	.text {
		color: white;
		text-align: center;
		margin-top: 15px;
		margin-bottom: 10px;
		font-size: 20px;
	}
}
  
.social-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin: 10px 5px;
	flex-wrap: wrap;
}
  
.icon-elem {
	list-style: none;
}
  
.icon {
	color: white;
	font-size: 32px;
	display: inline-block;
	margin: 0 10px;
	transition: 0.5s;
}
  
.icon:hover {
	transform: translateY(-10px);
}
  
.menu {
	display: flex;
	justify-content: center;
	position: relative;
	align-items: center;
	margin: 10px 0;
	flex-wrap: wrap;
}
  
.menu-elem {
	list-style: none;
}
.menu-icon {
	color: white;
	font-size: 20px;
	display: inline-block;
	text-decoration: none;
	margin: 5px 10px;
	opacity: 0.5;
	transition: 0.3s;
}
  
.menu-icon:hover {
	opacity: 1;
}
  

