@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
	--primary-color: #fc5228;
	--background-color: #f9f5f0;
	--dark-color: #151515;
}

html {
	font-size: 62.5%;
	font-family: 'Poppins', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
    background-image: url('/Imagenes/bg-home-100-scaled.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; /* Centra la imagen en el body */
    height: 100%;
    margin: 0;
	z-index: 0;
}
/* ********************************** */
/*             UTILIDADES             */
/* ********************************** */
.container {
	max-width: 120rem;
	margin: 0 auto;
}

.heading-1 {
	text-align: center;
	font-weight: 500;
	font-size: 3rem;
}

/* ********************************** */
/*               HEADER               */
/* ********************************** */

.container-hero {
    background-color: var(--background-color);
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.customer-support {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.customer-support i {
    font-size: 3.3rem;
}

.content-customer-support {
    display: flex;
    flex-direction: column;
}

.container-logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.container-logo i {
    font-size: 3rem;
}

.container-logo h1 a {
    text-decoration: none;
    color: #000;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: -1px;
}

.container-user {
    display: flex;
    gap: 1rem;
    cursor: pointer;
}

.container-user .fa-user {
    font-size: 3rem;
    color: var(--primary-color);
    padding-right: 2.5rem;
    border-right: 1px solid #e2e2e2;
}

.container-user .fa-basket-shopping {
    font-size: 3rem;
    color: var(--primary-color);
    padding-left: 1rem;
}

.content-shopping-cart {
    display: flex;
    flex-direction: column;
}



/* *************        ************* */
/*               NAVBAR               */
/* *************        ************* */
.container-navbar {
    background-color: var(--primary-color);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.navbar .fa-bars {
    display: none;
}

.menu {
    display: flex;
    gap: 2rem;
}

.menu li {
    list-style: none;
}

.menu a {
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--dark-color);
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
}

.menu a::after {
    content: '';
    width: 1.5rem;
    height: 1px;
    background-color: #fff;
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%, 50%);
    opacity: 0;
    transition: all 0.3s ease;
}

.menu a:hover::after {
    opacity: 1;
}

.menu a:hover {
    color: #fff;
}

/* Estilos del formulario de búsqueda */
.search-form {
    position: relative;
    display: flex;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 2rem;
    background-color: #fff;
    height: 3rem; /* Ajuste de altura */
    overflow: hidden;
}

.search-form input {
    outline: none;
    font-family: inherit;
    border: none;
    width: 20rem;
    font-size: 1.2rem;
    padding: 0 1rem;
    color: #777;
    cursor: pointer;
}

.search-form input::-webkit-search-cancel-button {
    appearance: none;
}

.search-form .btn-search {
    border: none;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 1rem;
}

.btn-search i {
    font-size: 2rem;
    color: #fff;
}

.navbar .fa-bars.active + .menu {
    display: none;
}

/* *************        ************* */
/*               BANNER               */
/* *************        ************* */

.banner {
	background-image: linear-gradient(40deg, #000000, #00000020),
		url('./Imagenes/Imagen_Header.jpg');
	height: 60rem;
	background-size: cover;
	background-position: center;
}

.content-banner {
	max-width: 90rem;
	margin: 0 auto;
	padding: 25rem 0;
}

.content-banner p {
	color: var(--primary-color);
	font-size: 1.2rem;
	margin-bottom: 1rem;
	font-weight: 500;
}

.content-banner h2 {
	color: #ffffff;
	font-size: 3.5rem;
	font-weight: 500;
	line-height: 1.2;
}

/* *************        ************* */
/*             CATEGORIAS             */
/* *************        ************* */
:root {
	--rounded-md: 10px; /* Define el radio de las esquinas */
  }
.section-categories{
	display: flex;
	flex-direction: column;
	gap: 100px;
	margin-bottom: 70px;
	margin-top: 30px;

	.header{
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: 1.4rem;

		.btn-all-categories{
			text-decoration: none;
			background-color: var(--primary-color);
			color: black;
			font-weight: 600;
			padding: 15px 25px;
			border-radius: var(--rounded-md);
		}
		@media (max-width: 768px){
			flex-direction: column;
			gap: 15px;

			.btn-all-categories{
				display: none;
			}
		}
	}
	.list-card-categories{
		display: flex;
		gap: 30px;
		align-items: center;

			.card-categori{
				display: flex;
				align-items: center;
				justify-content: flex-end;
				flex-direction: column;
				flex: 1;

				padding-bottom: 50px;
				position: relative;
				height: 200px;
				border-radius: var(--rounded-lg);
				cursor: pointer;
				box-shadow:0 0 10px rgba(0, 0, 0, 0.2) ;

				a{
					text-decoration: none;
					color: #000;
				}

				img{
					width: 100%;
					height: 150px;
					position: absolute;
					top: -60px;
					transition: all .3s ease-in;
				}

				&:hover img{
					top: -80px;
				}
				p{
					color: #fff;
					font-weight: 700;
					font-size: 18px;
				}
			}	
			.entrance{
				background: radial-gradient(
					circle,
					#606d3a48 0%,
					#1a1d02fb 100%
				);
			}
			.main-course{
				background: radial-gradient(
					circle,
					#f016163d 0%,
					#1a1202 100%
				);
			}
			.garrison{
				background: radial-gradient(
					circle,
					#000000 0%,
					#013a197a 100%
				);
			}
			.dessert{
				background: radial-gradient(
					circle,
					#946f0b70 0%,
					#241604 100%
				);
			}
	}
	@media (max-width: 768px){
		gap: 50px;
		
		.list-card-categories{
			overflow-x:auto;
			scroll-snap-type: x mandatory;
			-webkit-overflow-scrolling: touch;
			scrollbar-width: none;
			-ms-overflow-style: none;
			padding-top: 60px;

			&::-webkit-scrollbar{
				display: none;
			}

			.card-categori{
				flex: 0 0 60%;
				scroll-snap-align: center;
			}
	}
}
}
/****************  **************/
/********  SOBRE NOSOTROS *******/
/****************  **************/
.Owner{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 0;
	height: 800px;
	width: 100%;
}
.cont{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	overflow-x: auto;
	height: 100%;
}
.card{
	position: relative;
	width: 350px;
	height: 500px;
	margin:  20px ;
	flex: 0 0 350px;
	box-sizing: border-box;

}
.card div{
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	backface-visibility: hidden;
	transition: 1s;
	border-radius: var(--rounded-md);
	box-sizing: border-box;

	h1{
		font-size: 18px;
		color: #ffffff;
	}
	.profesion{
		font-size: 16px;
		color: #ffffff;
		padding: 8px;
	}
	img{
		width: 240px;
		padding: 15px 20px;
		border-radius: 50%;
		object-fit: cover;
	}
	p{
		justify-content: center;
		padding: 0 20px;
		font-size: 12px;
		text-align: center;
		line-height: 22px;
		color: #ffffff;
	}
}
.card .front{
	background:#363434 80% ;
	transform: perspective(500px) rotateY(0deg);
}
.card .back{
	background: #363a4e;
	transform: perspective(500px) rotateY(180deg);
}
.card:hover .front{
	transform: perspective(500px) rotateY(180deg);

}.card:hover .back{
	transform: perspective(500px) rotateY(360deg);
}

/****************  **************/
/********    REGISTRO	  *******/
/****************  **************/
.cont-register{
display: flex;
flex-direction: row;
justify-content: center;
}

:root {
    --login-bg:#f8f3ff;
    --title-bg: #9089cc;
    --button-bg: #674baf;
    --light-pink: #e882e8;
    --image-bg:  #eadbff ;
}
.login-container ,.register-container{
    height: 44em;
    width: 60em;
    margin: 6em ;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.login-info-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 0.5rem;
    background-color: var(--login-bg);
}

.image-container {
    padding: 2rem;
    width: 50%;
    background-color: var(--image-bg);
    box-sizing: border-box;
}

.title {
    text-transform: capitalize;
    font-size: 2.25rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--title-bg);
}

.social-login {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}

.social-login-element {
    width: 12.5rem;
    height: 3.75rem;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    border-radius: 5px;
    border: 1px solid var(--button-bg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-login-element img {
    width: 1.875rem;
    height: 1.875rem;
    position: relative;
    top: 0;
    left: -0.625rem;
}

.social-login-element:hover {
    background-color: #fff;
}

.login-info-container > p {
    font-size: 1.25em;
    margin-top: 1.5em;
}

.inputs-container {
    height: 55%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.input, .btn {
    width: 90%;
    height: 3.125rem;
    font-size: 1em;
}

.input {
    padding-left: 20px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 1px;
    box-sizing: border-box;
}

.input:hover {
    border: 2px solid var(--button-bg);
}

.btn {
    width: 80%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    cursor: pointer;
}

.inputs-container p {
    margin: 0;
}

.span {
    color: var(--primary-color);
    font-weight: 600;
    cursor: pointer;
}

/**********************************/
/********     FOOTER     **********/
/**********************************/
.footer {
	position: relative;
	width: 100%;
	background:var(--primary-color);
	min-height: 100px;
	padding: 20px 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	.text {
		color: white;
		text-align: center;
		margin-top: 15px;
		margin-bottom: 10px;
		font-size: 20px;
	}
}
  
.social-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin: 10px 5px;
	flex-wrap: wrap;
}
  
.icon-elem {
	list-style: none;
}
  
.icon {
	color: white;
	font-size: 32px;
	display: inline-block;
	margin: 0 10px;
	transition: 0.5s;
}
  
.icon:hover {
	transform: translateY(-10px);
}
  
.menu {
	display: flex;
	justify-content: center;
	position: relative;
	align-items: center;
	margin: 10px 0;
	flex-wrap: wrap;
}
  
.menu-elem {
	list-style: none;
}
.menu-icon {
	color: white;
	font-size: 20px;
	display: inline-block;
	text-decoration: none;
	margin: 5px 10px;
	opacity: 0.5;
	transition: 0.3s;
}
  
.menu-icon:hover {
	opacity: 1;
}
  
/**********************************/
/*******    RESPONSIVE    *********/
/**********************************/

@media(max-width:1024px){
/* ********************************** */
/*               HEADER               */
/* ********************************** */
.hero {
	flex-direction: column;
	align-items: center;
}
.customer-support, .container-logo, .container-user {
	margin-bottom: 1rem;
}
.container-logo h1 a {
	font-size: 2.5rem;
}

/* *************        ************* */
/*               NAVBAR               */
/* *************        ************* */
.navbar {
	flex-direction: column;
	align-items: flex-start;
}
.navbar .fa-bars {
	display: block;
	font-size: 2rem;
	color: #fff;
	cursor: pointer;
}
.menu {
	display: none; /* Ocultamos el menú en pantallas pequeñas */
	flex-direction: column;
	gap: 1rem;
	width: 100%;
	background-color: var(--primary-color);
}
.menu li {
	text-align: center;
	width: 100%;
}
.menu a {
	width: 100%;
	padding: 1rem;
	font-size: 1.5rem;
}
.search-form {
	width: 50%; /* Ajusta el ancho al 100% del contenedor */
	margin-top: 1rem;
	height: 3rem; /* Mantén la altura ajustada */
}
.search-form input {
	width: 100%; /* Asegura que el input ocupe todo el ancho disponible */
	padding: 0.5rem; /* Ajusta el padding para mejor proporción */
}
.search-form .btn-search {
	padding: 0 1rem; /* Mantén el padding ajustado */
}

/* *************        ************* */
/*               BANNER               */
/* *************        ************* */


/* *************        ************* */
/*             CATEGORIAS             */
/* *************        ************* */


/****************        **************/
/*******     SOBRE NOSOTROS      ******/
/**********                    ********/
.cont {
	overflow-x: auto; /* Añadir para permitir desplazamiento horizontal */
	scroll-snap-type: x mandatory;
	scrollbar-width: none;
	padding-top: 60px;
	justify-content: flex-start;
}
.cont::-webkit-scrollbar {
	display: none; /* Ocultar el scrollbar en webkit */
}
.card {
	flex: 0 0 50%; 
	margin-right: 20px;

}
/****************  **************/
/*           REGISTRO	        */
/****************  **************/
.login-container {
	width: 70%;
	margin-top: 3rem;
}
.login-info-container {
	width: 100%;
	border-radius: 5px;
}

.image-container {
	display: none;
}  
}

@media(max-width:768px){
/* *************        ************* */
/*               HEADER               */
/* *************        ************* */
.hero {
	padding: 1rem 0;
}
.customer-support {
	gap: 1rem;
}
.container-logo h1 a {
	font-size: 2rem;
}
.container-logo i, .customer-support i, .container-user .fa-user, .container-user .fa-basket-shopping {
	font-size: 2.5rem;
}

/* *************        ************* */
/*               NAVBAR               */
/* *************        ************* */
.navbar .fa-bars {
	display: block;
}
.menu {
	display: none;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	width: 100%;
	background-color: var(--primary-color);
}
.search-form {
	width: 50%; /* Ajusta el ancho al 100% del contenedor */
	margin-top: 1rem;
	max-height: 3rem; 
}
.search-form input {
	width: 100%; 
	padding: 0.5rem; 
}
.search-form .btn-search {
	padding: 0 1rem; 
}
/****************        **************/
/*******     SOBRE NOSOTROS      ******/
/**********                    ********/
.cont {
	overflow-x: auto; /* Añadir para permitir desplazamiento horizontal */
	scroll-snap-type: x mandatory;
	scrollbar-width: none;
	padding-top: 60px;
	justify-content: flex-start;
}
.cont::-webkit-scrollbar {
	display: none; /* Ocultar el scrollbar en webkit */
}
.card {
	flex: 0 0 auto; 
	margin-right: 20px;

}
/* *************        ************* */
/*              REGISTRO              */
/* *************        ************* */
.cont_register {
	display: flex;
	flex-direction: row; /* Mantener filas horizontales en el contenedor */
	justify-content: center;
	overflow-x: auto; /* Permitir desplazamiento horizontal */
	scroll-snap-type: x mandatory;
	-webkit-overflow-scrolling: touch;
}
.cont_register::-webkit-scrollbar {
	display: none; /* Ocultar el scrollbar en webkit */
}
.abeas, form {
	width: 100%;
	max-width: 300px;
	flex: 0 0 300px; /* Mantener tamaño fijo en responsive */
	scroll-snap-align: center; /* Asegurar que se alinee en el centro al desplazarse */
}
/****************  **************/
/*           REGISTRO	        */
/****************  **************/
.login-container {
	width: 90%;
}
}

@media(max-width:480px){
/* ********************************** */
/*               HEADER               */
/* ********************************** */
.hero {
	padding: 0.5rem 0;
}
.customer-support {
	flex-direction: column;
	gap: 0.5rem;
}
.container-logo, .container-user {
	flex-direction: column;
	align-items: center;
}
.container-logo h1 a {
	font-size: 1.5rem;
}
.container-logo i, .customer-support i, .container-user .fa-user, .container-user .fa-basket-shopping {
	font-size: 2rem;
}

/* *************        ************* */
/*               NAVBAR               */
/* *************        ************* */


/****************        **************/
/*******     SOBRE NOSOTROS      ******/
/**********                    ********/


/****************  **************/
/*           REGISTRO	        */
/****************  **************/
.login-container {
	height: 90%;
}

.social-login {
	flex-direction: column;
	align-items: center;
	height: 30%;
}

.login-info-container > p {
	margin: 0;
}
}